@import "tailwindcss";


@theme {
      --color-primary: #002E5D;
      --color-secondary: #00478F;
}


.responsive-logo {
      width: 10vw; /* Ekranın %10'u kadar genişlik */
      height: auto; /* Yüksekliği oranlı olarak ayarla */
      max-width: 150px; /* Max genişlik sınırı */
      min-width: 100px; /* Min genişlik sınırı */
    }
    
    @media (max-width: 768px) {
      .responsive-logo {
        width: 12vw; /* Daha büyük bir yüzdelik mobilde */
        max-width: 180px; /* Max genişlik sınırı */
        min-width: 120px; /* Min genişlik sınırı */
      }
    }
    
    @media (max-width: 480px) {
      .responsive-logo {
        width: 15vw; /* En küçük ekranlar için genişliği artır */
        max-width: 200px; /* Max genişlik sınırı */
        min-width: 130px; /* Min genişlik sınırı */
      }
    }
    
    .animate-scroll {
      display: flex;
      animation: scroll-left 20s linear infinite;
    }
    
    /* Animasyon tanımı */
    @keyframes scroll-left {
      0% {
        transform: translateX(100%); /* Sağdan başlasın */
      }
      100% {
        transform: translateX(-100%); /* Solda bitiş */
      }
    }
    
    
    
    